## importando Bibliotecas

In [2]:
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt

## Abrindo as bases e vizualiando os dados.

In [6]:
data = pd.read_csv('ebd_BR_relFeb-2021.txt', nrows=10, sep='\t')

In [10]:
data1 = pd.read_csv('ebd_BR_relFeb-2021.txt', sep='\t', usecols = ['COMMON NAME', 'SCIENTIFIC NAME', 'LOCALITY', 'OBSERVATION DATE'])

In [23]:
## primeira tentativa:
###pdata = pd.read_fwf('ebd_BR_relFeb-2021.txt')

## (,chunksize = 20000), "definir tamanho de linhas"
## abrir no sql "caso ficar dificil tratar os dados no sql ou mql"

## 'OBSERVATION COUNT' , quantitade vista 

## LATITUDE e LONGITUDE , podem ser melhores para localização. 

## APPROVED (1 = yes; 0 = no).

## ['COMMON NAME', 'SCIENTIFIC' 'NAME', 'LOCALITY', 'OBSERVATION' 'DATE'] colunas selecionadas.

In [5]:
pd.options.display.max_columns=50

In [12]:
data1.head(50)

,COMMON NAME,SCIENTIFIC NAME,LOCALITY,OBSERVATION DATE
0,Black Noddy,Anous minutus,St Peter and Paul Rocks,2007-10-26
1,Brown Booby,Sula leucogaster,St Peter and Paul Rocks,2007-10-26
2,Brown Noddy,Anous stolidus,St Peter and Paul Rocks,2007-10-26
3,Leach's Storm-Petrel,Oceanodroma leucorhoa,St Peter and Paul Rocks,2007-10-26
4,Magnificent Frigatebird,Fregata magnificens,St Peter and Paul Rocks,2007-10-26
5,Manx Shearwater,Puffinus puffinus,St Peter and Paul Rocks,2007-10-26
6,Sooty Tern,Onychoprion fuscatus,St Peter and Paul Rocks,2007-10-26
7,South Polar Skua,Stercorarius maccormicki,St Peter and Paul Rocks,2007-10-26
8,Bulwer's Petrel,Bulweria bulwerii,N of Archipelago de Sao Paulo and Sao Pedro,2019-01-18
9,Cory's Shearwater,Calonectris diomedea,N of Archipelago de Sao Paulo and Sao Pedro,2019-01-18
10,Leach's Storm-Petrel,Oceanodroma leucorhoa,N of Archipelago de Sao Paulo and Sao Pedro,2019-01-18
11,Magnificent Frigatebird,Fregata magnificens,N of Archipelago de Sao Paulo and Sao Pedro,2019-01-18
12,Red-footed Booby,Sula sula,N of Archipelago de Sao Paulo and Sao Pedro,2019-01-18
13,Bar-breasted Piculet,Picumnus aurifrons,Rio Branco 10' Cell,1988-10-21
14,Black-crowned Tityra,Tityra inquisitor,Rio Branco 10' Cell,1988-10-19
15,Black-fronted Nunbird,Monasa nigrifrons,Rio Branco 10' Cell,1988-10-21
16,Blue-gray Tanager,Thraupis episcopus,Rio Branco 10' Cell,1988-10-19
17,Blue-gray Tanager,Thraupis episcopus,Rio Branco 10' Cell,1988-10-21
18,Blue-headed Macaw,Primolius couloni,Rio Branco 10' Cell,1988-10-20
19,Chestnut-bellied Seedeater,Sporophila castaneiventris,Rio Branco 10' Cell,1988-10-20
20,Collared Trogon,Trogon collaris,Rio Branco 10' Cell,1988-10-20
21,Cobalt-winged Parakeet,Brotogeris cyanoptera,Rio Branco 10' Cell,1988-10-20
22,Crimson-crested Woodpecker,Campephilus melanoleucos,Rio Branco 10' Cell,1988-10-20
23,Dusky-headed Parakeet,Aratinga weddellii,Rio Branco 10' Cell,1988-10-20
24,Dwarf Tyrant-Manakin,Tyranneutes stolzmanni,Rio Branco 10' Cell,1988-10-21
25,Fork-tailed Flycatcher,Tyrannus savana,Rio Branco 10' Cell,1988-10-19
26,Grassland Sparrow,Ammodramus humeralis,Rio Branco 10' Cell,1988-10-20
27,Great-billed Hermit,Phaethornis malaris,Rio Branco 10' Cell,1988-10-20
28,Greater Yellow-headed Vulture,Cathartes melambrotus,Rio Branco 10' Cell,1988-10-20
29,House Wren,Troglodytes aedon,Rio Branco 10' Cell,1988-10-21
30,Lawrence's Thrush,Turdus lawrencii,Rio Branco 10' Cell,1988-10-21
31,Lined Seedeater,Sporophila lineola,Rio Branco 10' Cell,1988-10-20
32,Olive Oropendola,Psarocolius bifasciatus,Rio Branco 10' Cell,1988-10-20
33,Palm Tanager,Thraupis palmarum,Rio Branco 10' Cell,1988-10-20
34,Palm Tanager,Thraupis palmarum,Rio Branco 10' Cell,1988-10-21
35,Reddish Hermit,Phaethornis ruber,Rio Branco 10' Cell,1988-10-21
36,Rufous-breasted Piculet,Picumnus rufiventris,Rio Branco 10' Cell,1988-10-20
37,Silver-beaked Tanager,Ramphocelus carbo,Rio Branco 10' Cell,1988-10-20
38,Speckled Chachalaca,Ortalis guttata,Rio Branco 10' Cell,1988-10-20
39,Short-tailed Pygmy-Tyrant,Myiornis ecaudatus,Rio Branco 10' Cell,1988-10-21
40,Swallow-tailed Kite,Elanoides forficatus,Rio Branco 10' Cell,1988-10-20
41,Vermilion Flycatcher,Pyrocephalus rubinus,Rio Branco 10' Cell,1988-10-20
42,Wattled Jacana,Jacana jacana,Rio Branco 10' Cell,1988-10-20
43,White-banded Swallow,Atticora fasciata,Rio Branco 10' Cell,1988-10-20
44,White-eyed Parakeet,Psittacara leucophthalmus,Rio Branco 10' Cell,1988-10-20
45,White-fronted Nunbird,Monasa morphoeus,Rio Branco 10' Cell,1988-10-20
46,White-rumped Sandpiper,Calidris fuscicollis,Rio Branco 10' Cell,1988-10-21
47,White-shouldered Tanager,Tachyphonus luctuosus,Rio Branco 10' Cell,1988-10-20
48,White-thighed Swallow,Atticora tibialis,Rio Branco 10' Cell,1988-10-20
49,Yellow-crowned Parrot,Amazona ochrocephala,Rio Branco 10' Cell,1988-10-20

In [25]:
##data1['OBSERVATION DATE'].year

In [14]:
data1['OBSERVATION DATE'] = pd.to_datetime(data1['OBSERVATION DATE'])

In [21]:
data1['year'] = data1['OBSERVATION DATE'].dt.year

In [22]:
data1.groupby(['SCIENTIFIC NAME', 'LOCALITY', 'year'], as_index=False).count()

,SCIENTIFIC NAME,LOCALITY,year,COMMON NAME,OBSERVATION DATE
0,Accipiter bicolor,"(-12.5484,-41.4090)",2019,3,3
1,Accipiter bicolor,"(-13,3287,-43,3753)",2019,1,1
2,Accipiter bicolor,"(-16.3826,-56.6116) Baia Piuval incl. boat",2019,2,2
3,Accipiter bicolor,"(-17.5336,-56.9078)",2018,2,2
4,Accipiter bicolor,"(-22,3860,-44,9473)",2019,1,1
...,...,...,...,...,...
2926458,Zonotrichia capensis,área de amortecimento - Parna Serra da Canastra,2017,4,4
2926459,Zonotrichia capensis,"“Rodovia Vice Prefeito Salvador Pacetti”, São ...",2017,1,1
2926460,Zonotrichia capensis,"“Rodovia Vice Prefeito Salvador Pacetti”, São ...",2018,1,1
2926461,Zonotrichia capensis,"“Rodovia Vice Prefeito Salvador Pacetti”, São ...",2019,1,1
2926462,Zonotrichia capensis,"“Rodovia Vice Prefeito Salvador Pacetti”, São ...",2020,1,1

In [15]:
 data1.isnull().sum()

COMMON NAME          0
SCIENTIFIC NAME      0
LOCALITY            21
OBSERVATION DATE     0
dtype: int64

In [26]:
##Filtrar por altitude e longitude.